# Ignorar dependencias y carpetas generadas en backend
APP-Inmobiliaria/backend/node_modules/
APP-Inmobiliaria/backend/dist/
APP-Inmobiliaria/backend/.env
APP-Inmobiliaria/backend/coverage

# VSCode y archivos temporales
.vscode/
.DS_Store
Thumbs.db
.history/
*.vsix

# Permitir algunos archivos de VSCode si querés
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
